validator/gnoland-data/config/
validator/gnoland-data/db/
validator/gnoland-data/wal/
validator/gnoland-data/genesis.json
validator/gnoland-data/secrets/priv_validator_state.json
validator2/gnoland-data/config/
validator2/gnoland-data/db/
validator2/gnoland-data/wal/
validator2/gnoland-data/genesis.json
validator2/gnoland-data/secrets/priv_validator_state.json
validator3/gnoland-data/config/
validator3/gnoland-data/db/
validator3/gnoland-data/wal/
validator3/gnoland-data/genesis.json
validator3/gnoland-data/secrets/priv_validator_state.json
validator4/gnoland-data/config/
validator4/gnoland-data/db/
validator4/gnoland-data/wal/
validator4/gnoland-data/genesis.json
validator4/gnoland-data/secrets/priv_validator_state.json
